.loginForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
    position: relative;
}

.loginForm>input {
    width: 80%;
    height: 50px;
    border: none;
    background-color: white;
    outline: none;
    border-radius: 15px;
    padding: 0 15px;
}

.auth-btn {
    padding: 15px 50px;
    font-size: 20px;
    background-color: #16003B;
}

.auth-btn:hover {
    border: 1px solid #16003B;
    color: #16003B;
}

.infoTxtLog {
    position: absolute;
    bottom: 85px;
    left: 215px;
    color: red;
}

@media screen and (max-width: 600px) {
    .infoTxtLog {
        bottom: 115px;
        left: 130px;
    }
}